body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

.homepage-introduction {
    display: flex;
}

.homepage-introduction-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.homepage-introduction-right {
    display: flex;
    width: 50%;
}

.left-vertical-line {
    width: 2px;
    height: 100px;
    background-color: var(--color-primary);
}

