.CartContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 344px;
    height: 428px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 04px 4px 8px 0 rgba(0, 128, 255, 0.2);
    border-line: 0px;
    background-color: #FFFFFF;
    color: #000000;
    &:hover {
        cursor: pointer;
        drop-shadow: 0px 8px 16px 0 rgba(0, 128, 255, 0.2);
        border: 1px solid #2986FE;
    }
}

.Title{
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    padding-left: 24px;
}

.Description {
    font-size: 16px;
    margin: 10px 0;
    padding-left: 24px;
    opacity: 0.5;
}

.ContributePrice {
    font-size: 24px;
    margin: 32px 0px 0px 24px;
    
    color: #2986FE;
    font-weight: bold;
}
.FullPrice {
    font-size: 16px;
    margin: 0;
    color: #000000;
}